<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="RemoteMappingsManager">
    <list>
      <list>
        <remote-mappings server-id="python@ssh://root@localhost:{{ docker_port_forward.django.ssh }}/usr/local/bin/python">
          <settings>
            <list>
              <mapping local-root="$PROJECT_DIR$/django_project" remote-root="/home/web/django_project" />
              <mapping local-root="$PROJECT_DIR$/submodules/scanagroempresa/django_app" remote-root="/home/web/extra_app" />
            </list>
          </settings>
        </remote-mappings>
        <remote-mappings server-id="python@ssh://root@localhost:{{ docker_port_forward.scanagroempresa.ssh }}/usr/local/bin/python">
          <settings>
            <list>
              <mapping local-root="$PROJECT_DIR$/django_project" remote-root="/home/web/django_project" />
              <mapping local-root="$PROJECT_DIR$/submodules/scanagroempresa/django_app" remote-root="/home/web/extra_app" />
            </list>
          </settings>
        </remote-mappings>
      </list>
    </list>
  </component>
</project>
