{% extends "base.html" %}
{% load i18n avatar_tags%}
{% load static %}



{% block extra_head %}
    <script type="text/javascript">
        window.onload = function () {
            var navbar = document.querySelector('.navbar-right');

            var li = document.createElement('li');
            var a = document.createElement('a');
            var img = document.createElement('img');
            img.src = '{% static "icons/home.svg" %}';
            img.style = 'width:25px; height:25px;'
            a.appendChild(img);
            a.href = '{{ SCANAGROEMPRESA_URL }}';
            li.appendChild(a);
            navbar.prepend(li);
        }

    </script>
{% endblock extra_head %}

{% block tabs %}
    {% with user.get_group_permissions as group_perms %}
        {% if 'core.view__data__menu' in group_perms %}
            <li id="nav_layers">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Data" %}<i class="fa fa-angle-down fa-lg"></i></a>
                <ul class="dropdown-menu">
                {% if 'core.view__data__layers__submenu' in group_perms %}
                    <li><a href="{% url "layer_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Layers" %}</a></li>
                {% endif %}
                {% if 'core.view__data__documents__submenu' in group_perms %}
                    <li><a href="{% url "document_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Documents" %}</a></li>
                {% endif %}
                {% if 'core.view__data__remote_services__submenu' in group_perms %}
                    <li><a href="{% url "services" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Remote Services" %}</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li role="separator" class="divider"></li>
                    {% if 'core.view__data__upload_layer__submenu' in group_perms %}
                        <li><a href="{% url "layer_upload" %}">Upload Layer</a></li>
                    {% endif %}
                    {% if 'geonode.contrib.createlayer' in INSTALLED_APPS %}
                        <li><a href="{% url "layer_create" %}">{% trans "Create Layer" %}</a></li>
                    {% endif %}
                    {% if 'core.view__data__upload_document__submenu' in group_perms %}
                        <li><a href="{% url "document_upload" %}">Upload Document</a></li>
                    {% endif %}
                {% endif %}
                {% if user.is_superuser or user.is_staff or 'core.view__data__add_remote_service__submenu' in group_perms %}
                    {# Redundant check here as superuser is able to do everything, but preserved to remember the permission rules #}
                    <li><a href="{% url "register_service" %}">{% trans "Add Remote Service" %}</a></li>
                {% endif %}
                </ul>
            </li>
        {% endif %}

        {% if 'core.view__maps__menu' in group_perms %}
            <li id="nav_maps">
            {% if user.is_authenticated %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Maps" %}<i class="fa fa-angle-down fa-lg"></i></a>
                <ul class="dropdown-menu">
                {% if 'core.view__maps__explore_maps__submenu' in group_perms %}
                    <li><a href="{% url "maps_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Explore Maps" %}</a></li>
                {% endif %}
                {% if 'core.view__maps__create_map__submenu' in group_perms %}
                    <li> <a href="{{ SCANAGROEMPRESA_URL }}#!/maps/create">{% trans "Create Map" %}</a></li>
                    <!-- "{% url "new_map" %}" -->
                {% endif %}
                </ul>
            {% else %}
                <a href="{% url "maps_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Maps" %}</a>
            {% endif %}
            </li>
        {% endif %}

        {% if 'core.view__about__menu' in group_perms %}
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "About" %}<i class="fa fa-angle-down fa-lg"></i></a>
                <ul class="dropdown-menu">
                {% if 'core.view__about__people__submenu' in group_perms %}
                    <li><a href="{% url "profile_browse" %}">{% trans "People" %}</a></li>
                {% endif %}
                {% if 'core.view__about__groups__submenu' in group_perms %}
                    <li><a href="{% url "group_list" %}">{% trans "Groups" %}</a></li>
                {% endif %}
                {% if 'core.view__about__group_categories__submenu' in group_perms %}
                    <li><a href="{% url "group_category_list" %}">{% trans "Group Categories" %}</a></li>
                {% endif %}

                {% if perms.announcements.can_manage and 'core.view__about__announcements__submenu' in group_perms %}
                    <li><a href="{% url "announcements_list" %}">{% trans "Announcements" %}</a></li>
                {% endif %}

                    <li role="separator" class="divider"></li>

                {% if 'core.view__about__invite_users__submenu' in group_perms %}
                    <li><a href="{% url "geonode.invitations:geonode-send-invite" %}">{% trans "Invite Users" %}</a></li>
                {% endif %}

                {% if user.is_superuser or 'core.view__about__add_user__submenu' in group_perms %}
                    {# Superuser actually can do everything. This is a redundant check. #}
                    <li><a href="{% url "admin:people_profile_add" %}">{% trans "Add User" %}</a></li>
                {% endif %}
                {% if user.is_superuser or 'core.view__about__create_group__submenu' in group_perms %}
                    <li><a href="{% url "group_create" %}">{% trans "Create Group" %}</a></li>
                {% endif %}

                </ul>
            </li>
        {% endif %}
    {% endwith %}
{% endblock tabs %}
