{% extends "index.html" %}
{% load i18n avatar_tags%}
{% load static %}
{% load base_tags %}


{% block showcase %}
<section id="showcase">
        <div class="row">
          <div class="container text-center">
            <h2>Featured Datasets</h2>
            <div class="row home-facets">
            {% with facet_type='home' %}
             {% facets as facets %}
              <div class="col-md-6">
                <p><a href="{% url "layer_browse" %}"><i class="fa fa-square-o fa-4x rotate-45"></i></a></p>
                <h2><a href="{% url "layer_browse" %}">{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Layer{% plural %}Layers{% endblocktrans %}</a></h2>
                <p>{% trans "Click to search for geospatial data published by other users, organizations and public sources. Download data in standard formats." %}</p>
              </div>
              <div class="col-md-6">
                <p><a href="{% url "maps_browse" %}"><i class="fa fa-map-marker fa-4x"></i></a></p>
                <h2><a href="{% url "maps_browse" %}">{{ facets.map|default:_("No") }} {% blocktrans count counter=facets.map %}Map{% plural %}Maps{% endblocktrans %}</a></h2>
                <p>{% trans "Data is available for browsing, aggregating and styling to generate maps which can be saved, downloaded, shared publicly or restricted to specify users only." %}</p>
              </div>
              <div class="col-md-6">
                <p><a href="{% url "document_browse" %}"><i class="fa fa-newspaper-o fa-4x"></i></a></p>
                <h2><a href="{% url "document_browse" %}">{{ facets.document|default:_("No") }} {% blocktrans count counter=facets.document %}Document{% plural %}Documents{% endblocktrans %}</a></h2>
                <p>{% trans "As for the layers and maps GeoNode allows to publish tabular and text data, manage theirs metadata and associated documents." %}</p>
              </div>
              <div class="col-md-6">
                <p><i class="fa fa-user fa-4x"></i></p>
                <h2>{{ facets.user|default:_("No") }} {% blocktrans count counter=facets.user %}User{% plural %}Users{% endblocktrans %}</h2>
                <p>{% trans "Geonode allows registered users to easily upload geospatial data and various documents in several formats." %}</p>
              </div>
            {% endwith %}
            </div>
          </div>
        </div>
        <div class="row">
            <div class="container text-center">
                {% verbatim %}
                <div ng-app="featured">
                  <div ng-repeat="item in featured | limitTo:4">
                    <div class="col-md-3">
                      <a href="{{ item.detail_url }}"><img ng-src="{{ item.thumbnail_url }}" /></a>
                      <h4>{{ item.title | limitTo: 20 }}{{item.title.length > 20 ? '...' : ''}}</h4>
                    </div>
                  </div>
                </div>
                {% endverbatim %}
                <p><a href="/search/">Explore all datasets</a></p>
            </div>
        </div>
      </section>
{% endblock showcase %}